---
import "../styles/tailwind.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi tienda</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <slot />
  </body>
</html>